.block_myprofile img.profilepicture {
    height: 100px;
    width: 100px;
}

.block_myprofile .myprofileitem.fullname {
    font-size: 1.5em;
    font-weight: bold;
}

.block_myprofile .myprofileitem.edit {
    text-align: right;
}

/* parcours section */
.block_myprofile .header .title h2{
    background-color: #95a5a6 !important;
}

.block_myprofile .header .title h2:before {
    content: "\f007" !important;
}
