/* parcours section */
.block_menu_local_mail .header .title h2{
    background-color: #95a5a6 !important;
    color: #fff !important;
}

.block_menu_local_mail .header .title h2:before{
    background: url([[pix:theme|blocks/messages-perso]]) no-repeat left;
    content: " ";
    color: #fff;
    padding: 0 !important;
    height: 1.3em !important;
    margin-left: -0.05em !important;
    margin-right: 0.35em !important;
}

