/* RSS Feeds
-------------------------*/
.block_rss_client .list li:first-child {
    border-top-width: 0;
}

.block_rss_client .list li {
    border-top: 1px solid;
    padding: 5px;
}

/* parcours section */
.block_rss_client .header .title h2{
    background-color: #9b58b7 !important;
}

.block_rss_client .header .title h2:before{
    content: "\f09e" !important;
}

.block_rss_client .description{
    margin: 15px;
    box-sizing: border-box;
}

.block_rss_client .description span {
    clear: both;
    display: block;
}

.block_rss_client .description img {
    float: left;
    margin: 0 15px 0 0 !important;
}