.block_recent_activity .activitydate,
.block_recent_activity .activityhead {
    text-align: center;
}

.block_recent_activity .unlist li {
    margin-bottom: 1em;
}

.block_recent_activity li .head .date {
    float: right;
}

.dir-rtl .block_recent_activity .content h3 {text-align: right;}

/* parcours section */
.block_recent_activity .header .title h2{
    background-color: #9b58b7 !important;
}

.block_recent_activity .header .title h2:before{
    content: "\f017" !important;
}