.block_online_users .content .list li.listentry {
    clear: both;
}

.block_online_users .content .list li.listentry .user {
    float: left;
    position: relative;
}

.block_online_users .content .list li.listentry .user .userpicture {
    vertical-align: text-bottom;
}

.block_online_users .content .list li.listentry .message {
    float: right;
    margin-top: 3px;
}

.block_online_users .content .info {
    text-align: center;
}

/* parcours section */
.block_online_users .header .title h2{
    background-color: #95a5a6 !important;
    padding-left: 21px;
}

.block_online_users .header .title h2:before{
    background: url([[pix:theme|blocks/utilisateur-en-ligne]]) no-repeat left;
    content: " "!important;
    padding: 0 !important;
    height: 1.3em !important;
    margin-left: -0.05em !important;
    margin-right: 0.35em !important;
}
