/* parcours section */
.block_blog_recent .header .title h2{
    background-color: #9b58b7 !important;
    padding-left: 21px;
    color: #fff !important;
}

.block_blog_recent .header .title h2:before{
    background: url([[pix:theme|blocks/recent-sur-blog]]) no-repeat left;
    content: " ";
    color: #fff;
    padding: 0 !important;
    height: 1.3em !important;
    margin-left: -0.05em !important;
    margin-right: 0.35em !important;
}

/* parcours flexpage */
.format-flexpage #region-main .block_blog_recent .header .title h2{
    background: none !important;
    color: #3d3d3d !important;
}

.format-flexpage #block-region-side-post .block_blog_recent .header .title h2, .format-flexpage #block-region-side-pre .block_blog_recent .header .title h2 {
    color: #fff !important;
    text-align: center !important;
}